---
const { title, description, image, github, demo } = Astro.props;
---

<div class="project-card">
	<div class="image-container">
		<img src={image} alt={title} />
	</div>
  <h3>{title}</h3>
  <p>{description}</p>
  <div class="project-links">
    <a href={github} target="_blank" class="btn">Ver Código</a>
    {demo && <a href={demo} target="_blank" class="btn">Ver Demo</a>}
  </div>
</div>

<style>
  .project-card {
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 24px;
    text-align: center;
    transition: transform 0.3s;
  }
  .project-card:hover {
    transform: translateY(-8px);
  }
  .image-container {
    width: 100%;
    max-width: 100%;
	height: 150px;
	aspect-ratio: 4 / 3; /* Forzar proporción 4:3 */
	margin-bottom: 16px;
	overflow: hidden;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  img {
    width: 100%;
    height: 100%;
	max-height: 100px;
    object-fit: contain; /* Cambiado de 'cover' a 'contain' para evitar recortes */
    border-radius: 8px;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 12px;
    color: var(--primary);
  }
  p {
    font-size: 1rem;
    margin-bottom: 16px;
    color: var(--text);
  }
  .project-links {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
</style>